<div class="landing-page">
    <h1 style="text-align: center; font-size: 50px; font-weight: bold; color: white; font-family: Sansita Swashed, cursive;">Welcome to My Page</h1>
    <p style="text-align: center; margin-top: 10px; color: white;">Click the buttons below to navigate:</p>
    <div style="display: flex; justify-content: center;">
      <div class="navigation-buttons">
        <button style="background-color: rgb(0, 110, 255); color: white; padding: 10px 20px; border-radius: 5px;" routerLink="/leaveapp">Go to Leave Form</button>
       <button style="background-color: rgb(0, 110, 255); color: white; padding: 10px 20px; border-radius: 5px;" routerLink="/table">Go to Table</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  