

<form [formGroup]="addLeave" (ngSubmit)="onSubmit()">

  <div class="mb-1">
    <label class="forms-label">Leave Form</label>
  </div>

  <div class="mb-3">

    <label class="cut">Name <span class="lblError">*</span></label>

    <input type="text" class="form-control input-line" formControlName="name"  placeholder="Enter Name"   />
     <p class="lblError" *ngIf="addLeave.controls['name'] && addLeave.controls['name'].hasError('required')
    && addLeave.controls['name'].touched">
    Please Enter Valid Name
    </p>
  </div><br>

  <div class="mb-3" style="display: flex;">

    <label class="form-label">Leave Type</label>

        <div *ngFor="let item of leaveArr; let i = index">

          <input  type="radio" class="form-control input-line" formControlName="leave_type" value={{leaveArr[i]}}>

          {{leaveArr[i]}}

        </div>

    </div>

    <div class="mb-3">

      <label class="form-label">From Date</label>
      <input type="date" class="form-control input-line" formControlName="start_date"  required ngModelValidator="fromDate >= new Date('2023-01-01')" />

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">To Date</label>

 

      <input type="date" class="form-control input-line" formControlName="end_date"  required ngModelValidator="toDate <= new Date('2025-12-31')"/>

 

    </div>


    <div class="mb-3">


      <label class="form-label">Team Names</label>


      <input type="text" class="form-control input-line" formControlName="teams"  required minlength="3" maxlength="20" />

 

    </div>

 

    <div class="mb-3">


      <label class="form-label">File (only if sick leave)</label>

      <input type="file" class="form-control input-line" formControlName="file" [disabled]="false" maxSize="15MB" fileType="application/pdf, image/png" />

 

    </div>

 

    <div class="mb-3">

 

      <label class="form-label">Reporter</label>

 

      <select class="form-control input-line" formControlName="reporter" >

 

        <option></option>

 

        <option value="Shivay">Shivay</option>

 

        <option value="Jeeva">Jeeva</option>

 

        <option value="Pooja">Pooja</option>

 

      </select>

 

    </div><br>

 

    <button type="submit" class="btn btn-primary" [disabled]="!addLeave.valid">Submit</button>

 

</form>
